@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="icon" href="~/singinIcon.png" type="image/png">
    <title>Sign in</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form id="account" method="post" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div asp-validation-summary="All" class="text-danger" style="color:red"></div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input asp-for="Input.Email" class="form-control" placeholder="Username" />
                        @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                    </div>
                    <button type="submit" class="btn solid">Log in</button>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <!-- <div class="content">
                  <h3>Welcome...</h3>
                  <p>Fitness Training.</p>
                </div> -->
                <img src="https://raw.githubusercontent.com/sefyudem/Sliding-Sign-In-Sign-Up-Form/955c6482aeeb2f0e77c1f3c66354da3bc4d7a72d/img/log.svg"
                     class="image"
                     alt="" />
            </div>
        </div>
    </div>

    <script src="~/js/signin.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
