@model FitnessApp.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GymBundleId" class="control-label"></label>
                <select asp-for="GymBundleId" class ="form-control" asp-items="ViewBag.GymBundleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedWeight" class="control-label"></label>
                <input asp-for="ExpectedWeight" class="form-control" />
                <span asp-validation-for="ExpectedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BMIStatus" class="control-label"></label>
                <input asp-for="BMIStatus" class="form-control" />
                <span asp-validation-for="BMIStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMemberOverWeight" /> @Html.DisplayNameFor(model => model.IsMemberOverWeight)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MembershipFrom" class="control-label"></label>
                <input asp-for="MembershipFrom" class="form-control" />
                <span asp-validation-for="MembershipFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipTo" class="control-label"></label>
                <input asp-for="MembershipTo" class="form-control" />
                <span asp-validation-for="MembershipTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerId" class="control-label"></label>
                <select asp-for="TrainerId" class ="form-control" asp-items="ViewBag.TrainerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
