
@if (User.IsInRole(Roles.Admin))
{
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="fa-regular fa-chart-line"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-label">Users</li>
                <li>
                    <a asp-controller="Admin" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-user-tie"></i>
                        <span class="nav-text">Add Admin</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Trainer" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span class="nav-text">Add Trainer</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Member" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                        <span class="nav-text">Add Member</span>
                    </a>
                </li>
                <li class="nav-label">Sub Pages</li>
                <li>
                    <a asp-controller="GymBundle" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span class="nav-text">Gym Bundles</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="RegistrationNotification" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-users"></i>
                        <span class="nav-text">Registration Requests</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Invoice" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-money-bill"></i>
                        <span class="nav-text">Invoices</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


}


else if (User.IsInRole(Roles.Trainer))
{
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-house"></i>
                        <span class="nav-text">Home page</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Nutrition" asp-action="Create" aria-expanded="false">
                        <i class="fa-solid fa-utensils"></i>
                        <span class="nav-text">Add Nutrition</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Exercise" asp-action="Create" aria-expanded="false">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span class="nav-text">Add Exercise</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

}


else
{
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="fa-solid fa-house"></i>
                        <span class="nav-text">Home page</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Profile" asp-action="MyExercises" aria-expanded="false">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span class="nav-text">My Exercises</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Profile" asp-action="MyNutrations" aria-expanded="false">
                        <i class="fa-solid fa-utensils"></i>
                        <span class="nav-text">My Nutriation</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Invoice" asp-action="GetMemberInvoice" aria-expanded="false">
                        <i class="icon icon-world-2"></i>
                        <span class="nav-text">My Invoices</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

}
