
@if (User.IsInRole(Roles.Admin))
{
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-chart-bar-33"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-label">Users</li>
                <li>
                    <a asp-controller="Admin" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-single-04"></i>
                        <span class="nav-text">Add Admin</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Trainer" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-single-04"></i>
                        <span class="nav-text">Add Trainer</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Member" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-single-04"></i>
                        <span class="nav-text">Add Member</span>
                    </a>
                </li>
                <li class="nav-label">Sub Pages</li>
                <li>
                    <a asp-controller="GymBundle" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-world-2"></i>
                        <span class="nav-text">Gym Bundle</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="RegistrationNotification" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-world-2"></i>
                        <span class="nav-text">Registration Requests</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


}


else if (User.IsInRole(Roles.Trainer))
{
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-chart-bar-33"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

}


else
{
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="icon icon-chart-bar-33"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

}
