@model IEnumerable<FitnessApp.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered" id="example" style="min-width: 840px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Email)
                    </td>
                    <td>
                        <partial name="_Buttons" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

