@using FitnessApp.DTOs
@using Microsoft.AspNetCore.Identity;
@using FitnessApp.Enums;
@model InsertMemberDTO

<script>
    axios.get('/API/GetAllTrainers')
        .then(function (response) {
            // handle success
            const trainer = document.getElementById('trainerSelector');
            for (var item of response.data) { // Use "of" instead of "in" for iterating over an array
                var option = document.createElement('option');
                option.value = item.id;
                option.text = item.person.email;
                trainer.add(option);
            }
            console.log(response);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
</script>

@if (ViewBag.msg == false)
{

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function () {
        swal({
        title: "warning",
        text: "Something Went Wrong",
        button: "Ok",
        icon: "error",

});        })
    </script>

}
<div class="row">
    <div class="col-12">
        <form asp-action="Create" class="m-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row"></div>


            <div class="row">

                <div class="col-6">
                    <label class="form-label" for="Email">Email</label>
                    <input type="email" class="form-control mt-1" placeholder="Email" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>
                <div class="col-6">

                    <label class="form-label" for="PhoneNumber">Phone Number</label>
                    <input type="text" class="form-control mt-1" placeholder="PhoneNumber" asp-for="PhoneNumber" />
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="PhoneNumber">Gender</label>
                    <select asp-for="Gender" class="form-control mt-1" asp-items="@Html.GetEnumSelectList<Gender>()">
                        <option selected disabled>Select Gender</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Gender"></span>
                </div>


                <div class="col-6">
                    <label class="form-label" for="Password">Password</label>
                    <input type="password" class="form-control mt-1" placeholder="Password" asp-for="Password" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label asp-for="GymBundleId" class="control-label"></label>
                    <select asp-for="GymBundleId" class="form-control" asp-items="ViewBag.GymBundleId">
                        <option selected disabled>Select Bundle</option>
                    </select>
                </div>


                <div class="col-6">
                    <label class="form-label" for="Age">Age</label>
                    <input type="number" class="form-control mt-1" placeholder="Age" asp-for="Age" />
                    <span class="text-danger" asp-validation-for="Age"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="Weight">Weight</label>
                    <input type="number" class="form-control mt-1" placeholder="Weight" asp-for="Weight" />
                    <span class="text-danger" asp-validation-for="Weight"></span>
                </div>

                <div class="col-6">
                    <label class="form-label" for="Age">Height</label>
                    <input type="number" class="form-control mt-1" placeholder="Height" asp-for="Height" />
                    <span class="text-danger" asp-validation-for="Height"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label asp-for="TrainerId" class="control-label"></label>
                    <select asp-for="TrainerId" class="form-control" id="trainerSelector">
                        <option selected disabled>Select Trainer</option>
                    </select>
                </div>
                <div class="col-6">
                    <label class="form-label" for="DateOfBirth">DateOfBirth</label>
                    <input class="form-control mt-1" placeholder="DateOfBirth" asp-for="DateOfBirth" />
                    <span class="text-danger" asp-validation-for="DateOfBirth"></span>
                </div>
            </div>



            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>

            </div>


        </form>
    </div>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
